/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');

/* 
font-family: 'Press Start 2P', cursive;
font-family: 'VT323', monospace; 
*/
.App {
    height: 100vh;
    width: 100vw;
}
.game {
    display: flex;
    justify-content: center;
    max-width: 1024px;
    margin: auto;
    padding-top: 3vh;
}

.cell:hover {
    border: 1px solid grey;
    cursor: pointer;
}
.grid-wrapper {
    display: flex;
    flex-direction: row;
    
}

.cols-wrapper {
    display: flex;
    flex-direction: column;
}

.menu {
    position: absolute;
    left: 5vw;
    bottom: 5vh;
    display: flex;
}

.menu-button {
    color: lightgrey;
    font-size: 40px;
    height: 62px;

}


.intro {
    color: grey;
    font-family: 'VT323', monospace; 
    font-size: 30px;
    padding-left: 6px;

}

.actions button {
    color: lightgray;
    font-family: 'VT323', monospace; 
    font-size: 30px;
    margin-right: 1vw;
}

.menu-button:hover,
.actions button:hover,
.intro:hover {
    color: white;
    cursor: pointer;
    
}



/* reset */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
    background-color: black;
    height: 100vh;
}

button {
    border: none;
    background: none;
    outline: none;
    margin: 0;
  }

  button:active {
      outline: none;
  }