.game {
    display: flex;
    justify-content: center;
}

.cell:hover {
    border: 1px solid grey;
}
.rows-wrapper {
    display: flex;
    flex-direction: row;
}

.cols-wrapper {
    display: flex;
    flex-direction: column;
}

/* reset */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
    background-color: black;
}